/* Page Styles */
/*
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
*/

/*Customed CSS*/

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto.ttf');
    src: local('☺'), url('../fonts/Roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


{
    margin: 0px;
    padding: 0px;
}
 html, body {
                /*background-color: #efefef;*/
                color: #636b6f;
                font-family: 'Roboto', sans-serif;
                font-weight: 100;
                margin: 0;
                background-image: url('../images/main_bg.jpg');
      background-size: 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
            }

           /**/
.top-bar{
    padding: 5px 0px;
}
.top-bar a{
    font-family: Roboto;
    color: #767676;
    text-transform: uppercase;
    font-size: 12px;
}
.top-bar .right-top-link{
    text-align: right;
    font-weight: thin;
}
.top-bar .right-top-link a:after{
    content: " |";
    letter-spacing: 1px;
}

.home-header{
    background-color: #222;
    color: #fff;
    width: 100%;
    display: inline-block;
    background: url('../images/home-header.png') no-repeat;
    background-size: 100%;
    padding: 5px 0px;
    /*border-bottom: 5px solid #efefef;*/
}

.home-logo{
    text-align: center;
    /*padding: 10px 0px;*/
}
.home-logo:hover{
    background: transparent;
}
.home-logo img{
    width: 18%;
    padding-top: 2px;
}
.home-name{
    /*padding: 10px 0 0 0;*/
}
.home-name p{
    line-height: 1.1;
    font-size: 15px;
    font-family: Roboto;
}
.home-login-reg{
    text-align: right;
    margin: 15px 0px;
}
.home-login-reg button{
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 5px 0px;
    font-size: 13px;
    width: 28%;
    cursor: pointer;
    margin: 0px;
}
.home-login-reg .login-btn a{
    text-decoration: none;
    font-family: Roboto;
    text-transform: uppercase;
    color: #fff;
}
.home-login-reg .login-btn{
    background-color: #bd2031;
}
.home-login-reg .login-btn:hover{
    background-color: #f5d02a;
    letter-spacing: 1px;
    transition: 0.5s;
}
.home-login-reg .reg-btn{
    background-color: rgba(239, 239, 239,0.8);
}

.home-login-reg .reg-btn:hover{
    letter-spacing: 1px;
    transition: 0.5s;
    background-color: #f5d02a;
}
.home-login-reg .reg-btn a{
    text-decoration: none;
    font-family: Roboto;
    text-transform: uppercase;
    color: #000;
}

.nav-menu{
    margin-top: 5px;
}

/*website banner*/
.web-banner{
    width: 100%;
    display: block;
    margin-top: -6px;
}
.web-banner img{
    width: 100%;
}

/*home-infos*/
.abt-tup{
    width: 100%;
    display: block;
    padding: 50px 0;
    /*background-image: url('images/');*/
}
.tup-title {
    font-family: Montserrat;
    text-align: center;
    padding: 0 10px;
}
.tup-title h2{
    font-size: 60px;
    color: #222;
    line-height: 0.9;
    letter-spacing: -3px;
}
.desc{
    padding: 20px;
    background-color: #222;
    color: #fff;

}
.desc:hover{
    cursor: pointer;
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.44);
    color: #000;
    -webkit-box-shadow: 10px 10px 35px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 35px -12px rgba(0,0,0,0.75);
box-shadow: 10px 10px 35px -12px rgba(0,0,0,0.75);
}
.desc p{
    font-family: Roboto;
    font-size: 13px;
}
.desc a{
    color: #bd2031;
}
.abt-cos{
    width: 100%;
    display: block;
    padding: 50px 0;
    background-color: #fff;
}
.cos-title{
    text-align: center;
    font-family: Montserrat;
}
.cos-title h2{
    font-size: 70px;
    color: #222;
    line-height: 0.9;
    letter-spacing: -3px;   
}
.cos-title img{
    width: 25%;
}

.image-slider{
    width:100%;
    text-align: center;
    margin: auto;
    display: -webkit-box
}
.image-slider img{
    width: 100%;
}
.divider{
    margin: 5px 0px;
    width: 99%;
}
.accreditation-details{
    width: 100%;
    margin: auto;
    display: -webkit-box;
}
.accre-title img{
    /*width: 35%;*/
    float: left;
}
.accre-details{
    background: url('../images/accre-details.png') no-repeat;
    background-size: 100%;
    background-color: #222;
    /*width: 65%;*/
    float: left;
    padding: 30px;
}
.accre-details p{
    color: #fff;
    font-family: Geosanslight;
}

/*LOGIN MODAL*/

.log-modal{
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
    background-color: rgba(34, 34, 34, 0.6);
}
.login-btn, .reg-btn{
    background-color: #bd2031;
    color: #fff;
    text-transform: uppercase;
    font-family: Roboto;
    letter-spacing: 1px;
    border-radius: 0px;
    font-size: 13px;
}
.reg-btn:hover,
.login-btn:hover{
    transition: 0.5s;
    letter-spacing: 2px;
    background-color: #f5d02a;
    color: #fff;
}
.login-btn{
    width: 20%; 
}
.reg-btn{
    width: 27%;
}
/****************dashboard*************/
.upload{
  text-align: right;
  float: right;
  /*border: 1px solid #fff;*/
  border-radius: 5px;
  font-family: Roboto;

}

.upload span{
    color: #f5d02a;
  }
/*dashboard*/
.upload-btn{
      background: transparent;
    border: none;
    margin: 5px 0;
}
.upload-btn span{

    color: #f5d02a;/*dashboard*/
    font-size: 22px;
}
.notif-drpdwn span{
    color: #f5d02a;
    font-size: 21px;

}
.notif-badge{
  font-size: 18px;
}

.notif-drpdwn{
  color: #f5d02a;
    padding: 8px 11px;
    float: right;
    /*border: 1px solid #fff;*/
    border-radius: 5px;
}

.name-drpdwn{
    text-align: right;
    padding: 4px 6px;
    float: right;
}
.name-drpdwn span{
  color: #f5d02a;
  font-size: 20px;
  padding-top: 4px;
}
.user-navbar{
    padding: 15px 0px 5px 0;
    float: right;
}
.menu-categories{
    background-color: #222222;
    margin-top: -5px;
    font-family: Roboto;
    color: #fff;
}

#searchItem{
  color: #fff; /*makes the text inside search bar readable*/
}
#custom-search-input{
   margin: 13px 0px;
}
#custom-search-input .search-query{
    color: #efefef;
    padding-right: 30px;
    padding-right: 40px \9;
    padding-left: 9px;
    padding-left: 9px \9;
    margin-bottom: 0;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    background-color: transparent;
}
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#f5d02a;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }



.content{
        height: -webkit-fill-available;
        width: 100%;
}
/*footer css*/

.footer{
    background-color: #222;
    position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   font-family: sans-serif;
   color: #f5d02a
}

.footer-info{
    background-color: #111;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
}
.footer-info a:hover{
    color: #f5d02a;
    transition: 0.5s;
}

.footer-info .tup-abt {
    padding: 5px 0px;
}
.footer-info .tup-abt p{
    font-size: 12px;
    /*text-align: left;*/
}
.footer-info .tup-abt img{
    padding: 10px 0 20px 0;
    width: 18%;
}
.footer-info .footer-nav {
    padding: 0px 15px;
}

.footer-info .footer-nav ul{
    list-style: none;
    text-align: left;
}
.footer-info .footer-abt-us{
    padding: 0px 15px;
}

.footer-info .footer-abt-us ul{
    list-style: none;
    text-align: left;
}
.footer-info .footer-area-nav{
    padding: 0px 15px;
}
.footer-info .footer-area-nav ul{
    list-style: none;
    text-align: left;
}

/*accordion*/
.accordion {
  width: 100%;
  max-width: 360px;
  margin: 30px auto 20px;
  background: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link { border-bottom: 0; }

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.accordion li.open .link { color: #b63b4d; }

.accordion li.open i { color: #b63b4d; }

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/


.submenu {
  display: none;
  background: #444359;
  font-size: 14px;
}

.submenu li { border-bottom: 1px solid #4b4a5e; }

.submenu a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu a:hover {
  background: #b63b4d;
  color: #FFF;
}

.actions-btn a,span{
  color: #000;
  font-family: Roboto;
}
.accrdn ul{
  list-style: none;
  color: #000;
}
.accrdn a{
  color: #000;
}
